// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// FontAwesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
.bg-green {
    background-color: #725879;
}

.btn-green {
    border: none !important;
    background-color: #725879 !important;
    color: #fff !important;
}

.btn-blue {
    border: none !important;
    background-color: #6e95a7 !important;
    color: #fff !important;
}

.btn-orange {
    border: none !important;
    background-color: #607a7c !important;
    color: #fff !important;
}

.header-green {
    color: #5a3961;
    font-weight: bolder;
}
